<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305904223967-1ogbuahklavb9s6edbcepneq24e5e3hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305904223967-1ogbuahklavb9s6edbcepneq24e5e3hm</string>
	<key>API_KEY</key>
	<string>AIzaSyDcMTwOOhjgUDcQndBSjYjvCueNJmFO9QY</string>
	<key>GCM_SENDER_ID</key>
	<string>305904223967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.showoff.hotelManagementApp</string>
	<key>PROJECT_ID</key>
	<string>hotel-management-app-3f47e</string>
	<key>STORAGE_BUCKET</key>
	<string>hotel-management-app-3f47e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305904223967:ios:103772266c852c29b38b6a</string>
</dict>
</plist>